{{!-- layouts/base.hbs --}}
<!doctype html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="styles/ue-table-ranking.css">
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <h1>Ranking Tables</h1>
        {{> includes/ue-table-ranking }}
      </div>
    </main>
    <script src="javascripts/main.js"></script>
  </body>
</html>