@import "tools/utils";

* {
  box-sizing: border-box;
  font-family: "robotoRegular", Arial, sans-serif, helvetica;
}

body {
	background: whitesmoke;
}

.demo-box {
	background: white;
	margin: 1em 0;
	position: relative;
}

@import "_ue-table-ranking-base";
@import "_ue-table-ranking-extended";
@import "_ue-table-ranking-collapsible";