<div class="ue-c-table-ranking ue-c-table-ranking--collapsed">
    <div class="ue-c-table-ranking__container">
    	<table id="ueTableRanking" class="ue-c-table-ranking ue-c-table-ranking--accordion">
		    <caption class="ue-c-table-ranking__caption">Liga Santander 2016-17</caption>
		    <thead class="ue-c-table-ranking__thead">
		        <tr class="ue-c-table-ranking__tr">
		            <th class="ue-c-table-ranking__th" colspan="2" rowspan="2" scope="col">Equipos</th>
		            <th class="ue-c-table-ranking__th" colspan="6" scope="colgroup">Totales</th>
		        </tr>
		        <tr class="ue-c-table-ranking__tr">
		            <th class="ue-c-table-ranking__th is-marked" scope="col">
		                <abbr class="ue-c-table-ranking__abbr" title="Puntos Totales">PT</abbr>
		            </th>
		            <th class="ue-c-table-ranking__th" scope="col">
		                <abbr class="ue-c-table-ranking__abbr" title="Partidos Jugados">PJ</abbr>
		            </th>
		            <th class="ue-c-table-ranking__th" scope="col">
		                <abbr class="ue-c-table-ranking__abbr" title="Partidos Ganados">PG</abbr>
		            </th>
		            <th class="ue-c-table-ranking__th" scope="col">
		                <abbr class="ue-c-table-ranking__abbr" title="Partidos Empatados">PE</abbr>
		            </th>
		            <th class="ue-c-table-ranking__th" scope="col">
		                <abbr class="ue-c-table-ranking__abbr" title="Partidos Perdidos">PP</abbr>
		            </th>
		            <th class="ue-c-table-ranking__th" scope="col">
		                <abbr class="ue-c-table-ranking__abbr ue-c-table-ranking__more" title="Más información">+info</abbr>
		            </th>
		        </tr>
		    </thead>
		    <tbody class="ue-c-table-ranking__tbody">
		        <tr class="ue-c-table-ranking__tr even" data-children="2" data-show="false">
		            <th class="ue-c-table-ranking__th" scope="row" rowspan="1"><span class="ue-c-table-ranking__span ue-c-table-ranking__position champions_league">1</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Real Madrid" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/186.png"><span class="ue-c-table-ranking__team-name">Real Madrid</span></th>
		            <td class="ue-c-table-ranking__td is-marked">13</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">4</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="0" rowspan="1">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even is-hidden">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">7</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even is-hidden">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">6</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr odd" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position champions_league">2</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Sevilla" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/179.png"><span class="ue-c-table-ranking__team-name">Sevilla</span></th>
		            <td class="ue-c-table-ranking__td is-marked">11</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="1">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">9</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position champions_league">3</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Barcelona" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/178.png"><span class="ue-c-table-ranking__team-name">Barcelona</span></th>
		            <td class="ue-c-table-ranking__td is-marked">10</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="2">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">4</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">6</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr odd" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position champions_league_qualifying">4</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Atlético de Madrid" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/175.png"><span class="ue-c-table-ranking__team-name">Atlético de Madrid</span></th>
		            <td class="ue-c-table-ranking__td is-marked">9</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="3">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">4</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">5</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position europa_cup">5</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Las Palmas" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/407.png"><span class="ue-c-table-ranking__team-name">Las Palmas</span></th>
		            <td class="ue-c-table-ranking__td is-marked">9</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="4">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">6</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">3</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr odd" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position europa_cup">6</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Villarreal" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/449.png"><span class="ue-c-table-ranking__team-name">Villarreal</span></th>
		            <td class="ue-c-table-ranking__td is-marked">9</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="5">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">4</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">5</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">7</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Athletic Club" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/174.png"><span class="ue-c-table-ranking__team-name">Athletic Club</span></th>
		            <td class="ue-c-table-ranking__td is-marked">9</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="6">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">3</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">6</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr odd" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">8</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Real Sociedad" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/188.png"><span class="ue-c-table-ranking__team-name">Real Sociedad</span></th>
		            <td class="ue-c-table-ranking__td is-marked">7</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="7">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">4</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">3</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">9</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Eibar" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/953.png"><span class="ue-c-table-ranking__team-name">Eibar</span></th>
		            <td class="ue-c-table-ranking__td is-marked">7</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="8">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">4</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">3</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr odd" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">10</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Sporting de Gijón" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/616.png"><span class="ue-c-table-ranking__team-name">Sporting de Gijón</span></th>
		            <td class="ue-c-table-ranking__td is-marked">7</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="9">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">6</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">1</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">11</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Alavés" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/173.png"><span class="ue-c-table-ranking__team-name">Alavés</span></th>
		            <td class="ue-c-table-ranking__td is-marked">6</td>
		            <td class="ue-c-table-ranking__td">4</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="10">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">4</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr odd" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">12</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Deportivo de La Coruña" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/180.png"><span class="ue-c-table-ranking__team-name">Deportivo de La Coruña</span></th>
		            <td class="ue-c-table-ranking__td is-marked">5</td>
		            <td class="ue-c-table-ranking__td">4</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="11">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">3</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">13</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Málaga" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/182.png"><span class="ue-c-table-ranking__team-name">Málaga</span></th>
		            <td class="ue-c-table-ranking__td is-marked">5</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="12">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">4</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr odd" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">14</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Real Betis" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/185.png"><span class="ue-c-table-ranking__team-name">Real Betis</span></th>
		            <td class="ue-c-table-ranking__td is-marked">5</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="13">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">3</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">15</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Leganés" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/957.png"><span class="ue-c-table-ranking__team-name">Leganés</span></th>
		            <td class="ue-c-table-ranking__td is-marked">4</td>
		            <td class="ue-c-table-ranking__td">4</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="14">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">3</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr odd" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">16</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Celta de Vigo" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/176.png"><span class="ue-c-table-ranking__team-name">Celta de Vigo</span></th>
		            <td class="ue-c-table-ranking__td is-marked">4</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="15">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">3</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">17</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Espanyol" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/177.png"><span class="ue-c-table-ranking__team-name">Espanyol</span></th>
		            <td class="ue-c-table-ranking__td is-marked">2</td>
		            <td class="ue-c-table-ranking__td">4</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="16">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr odd" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position relegation">18</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Osasuna" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/450.png"><span class="ue-c-table-ranking__team-name">Osasuna</span></th>
		            <td class="ue-c-table-ranking__td is-marked">2</td>
		            <td class="ue-c-table-ranking__td">4</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="17">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr even" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position relegation">19</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Granada CF" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/5683.png"><span class="ue-c-table-ranking__team-name">Granada CF</span></th>
		            <td class="ue-c-table-ranking__td is-marked">2</td>
		            <td class="ue-c-table-ranking__td">5</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="18">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">1</td>
		            <td class="ue-c-table-ranking__td">3</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden even">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">1</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">1</td>
		            <td class="ue-c-table-ranking__td">1</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr odd" data-children="2">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position relegation">20</span></th>
		            <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Valencia CF" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/191.png"><span class="ue-c-table-ranking__team-name">Valencia CF</span></th>
		            <td class="ue-c-table-ranking__td is-marked">0</td>
		            <td class="ue-c-table-ranking__td">4</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">4</td>
		            <td class="ue-c-table-ranking__td is-toggle" data-index="19">
		                <button class="ue-c-table-ranking__button ue-c-table-ranking__toggle" onclick="accordionFunction()" aria-expanded="false">
		                    <div class="ue-c-table-ranking__div">
		                        <svg xmlns="http://www.w3.org/2000/svg" class="is-arrow-icon" width="24" height="24" viewBox="0 0 24 24">
		                            <g>
		                                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
		                            </g>
		                        </svg>
		                    </div>
		                </button>
		            </td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__home">En casa</span></th>
		            <td class="ue-c-table-ranking__td is-marked">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		        </tr>
		        <tr class="ue-c-table-ranking__tr is-hidden odd">
		            <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__away">Fuera</span></th>
		            <td class="ue-c-table-ranking__td is-marked">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">0</td>
		            <td class="ue-c-table-ranking__td">2</td>
		        </tr>
		    </tbody>
		</table>
		<ul class="ue-c-table-ranking__legend">
            <li><span class="ue-c-table-ranking__legend-marker champions_league">Champions League</span></li>
            <li><span class="ue-c-table-ranking__legend-marker champions_league_qualifying">Champions league qualifying</span></li>
            <li><span class="ue-c-table-ranking__legend-marker europa_cup">Europa League</span></li>   
            <li><span class="ue-c-table-ranking__legend-marker relegation">Descenso</span></li>
            <li><strong>PT:</strong> Puntos Totales</li>
            <li><strong>PJ:</strong> Partidos Jugados</li>
            <li><strong>PG:</strong> Partidos Ganados</li>
            <li><strong>PE:</strong> Partidos Empatados</li>
            <li><strong>PP:</strong> Partidos Perdidos</li>
        </ul>
    </div>
</div>
