<div class="ue-c-table-ranking ue-c-table-ranking--extended">
    <div class="ue-c-table-ranking__container">
        <table id="ueTableRanking" class="ue-c-table-ranking">
            <caption class="ue-c-table-ranking__caption">Liga 123 2017-18</caption>
            <thead class="ue-c-table-ranking__thead">
                <tr class="ue-c-table-ranking__tr">
                    <th class="ue-c-table-ranking__th" colspan="2" rowspan="2" scope="colgroup">Equipos</th>
                    <th class="ue-c-table-ranking__th" colspan="5" scope="colgroup">Totales</th>
                    <th class="ue-c-table-ranking__th is-subgroup" colspan="5" scope="colgroup">En casa</th>
                    <th class="ue-c-table-ranking__th is-subgroup" colspan="5" scope="colgroup">Fuera</th>
                </tr>
                <tr class="ue-c-table-ranking__tr">
                    <th class="ue-c-table-ranking__th is-marked" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Puntos Totales">PT</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Jugados">PJ</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Ganados">PG</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Empatados">PE</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th has-gap" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Perdidos">PP</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th is-subgroup is-marked" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Puntos Totales">PT</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th is-subgroup" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Jugados">PJ</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th is-subgroup" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Ganados">PG</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th is-subgroup" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Empatados">PE</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th is-subgroup has-gap" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Perdidos">PP</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th is-subgroup is-marked" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Puntos Totales">PT</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th is-subgroup" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Jugados">PJ</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th is-subgroup" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Ganados">PG</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th is-subgroup" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Empatados">PE</abbr>
                    </th>
                    <th class="ue-c-table-ranking__th is-subgroup" scope="col">
                        <abbr class="ue-c-table-ranking__abbr" title="Partidos Perdidos">PP</abbr>
                    </th>
                </tr>
            </thead>
            <tbody class="ue-c-table-ranking__tbody">
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position promotion">1</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Huesca" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/2894.png"><span class="ue-c-table-ranking__team-name">Huesca</span></th>
                    <td class="ue-c-table-ranking__td is-marked">26</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">7</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td has-gap">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">17</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">5</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">0</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">9</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position promotion">2</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Osasuna" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/450.png"><span class="ue-c-table-ranking__team-name">Osasuna</span></th>
                    <td class="ue-c-table-ranking__td is-marked">25</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">6</td>
                    <td class="ue-c-table-ranking__td">7</td>
                    <td class="ue-c-table-ranking__td has-gap">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">13</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">0</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">12</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                </tr>
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position playoff_promotion">3</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Numancia" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/183.png"><span class="ue-c-table-ranking__team-name">Numancia</span></th>
                    <td class="ue-c-table-ranking__td is-marked">25</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">7</td>
                    <td class="ue-c-table-ranking__td">4</td>
                    <td class="ue-c-table-ranking__td has-gap">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">18</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">6</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">0</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position playoff_promotion">4</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Granada CF" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/5683.png"><span class="ue-c-table-ranking__team-name">Granada CF</span></th>
                    <td class="ue-c-table-ranking__td is-marked">23</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">6</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td has-gap">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">14</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">9</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                </tr>
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position playoff_promotion">5</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Sporting de Gijón" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/616.png"><span class="ue-c-table-ranking__team-name">Sporting de Gijón</span></th>
                    <td class="ue-c-table-ranking__td is-marked">23</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">6</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td has-gap">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">15</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">0</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">8</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position playoff_promotion">6</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Lugo" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/5730.png"><span class="ue-c-table-ranking__team-name">Lugo</span></th>
                    <td class="ue-c-table-ranking__td is-marked">23</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">7</td>
                    <td class="ue-c-table-ranking__td">2</td>
                    <td class="ue-c-table-ranking__td has-gap">5</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">13</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">10</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                </tr>
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">7</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Tenerife" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/612.png"><span class="ue-c-table-ranking__team-name">Tenerife</span></th>
                    <td class="ue-c-table-ranking__td is-marked">21</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td">6</td>
                    <td class="ue-c-table-ranking__td has-gap">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">15</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">0</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">6</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">8</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Rayo Vallecano" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/184.png"><span class="ue-c-table-ranking__team-name">Rayo Vallecano</span></th>
                    <td class="ue-c-table-ranking__td is-marked">21</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td">6</td>
                    <td class="ue-c-table-ranking__td has-gap">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">12</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">9</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                </tr>
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">9</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Real Valladolid" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/192.png"><span class="ue-c-table-ranking__team-name">Real Valladolid</span></th>
                    <td class="ue-c-table-ranking__td is-marked">20</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td has-gap">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">13</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">10</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Real Oviedo" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/187.png"><span class="ue-c-table-ranking__team-name">Real Oviedo</span></th>
                    <td class="ue-c-table-ranking__td is-marked">20</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td has-gap">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">14</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">6</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                </tr>
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">11</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Cádiz" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/1737.png"><span class="ue-c-table-ranking__team-name">Cádiz</span></th>
                    <td class="ue-c-table-ranking__td is-marked">20</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td">5</td>
                    <td class="ue-c-table-ranking__td has-gap">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">10</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">10</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">12</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Reus Deportiu" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/6506.png"><span class="ue-c-table-ranking__team-name">Reus Deportiu</span></th>
                    <td class="ue-c-table-ranking__td is-marked">19</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">4</td>
                    <td class="ue-c-table-ranking__td">7</td>
                    <td class="ue-c-table-ranking__td has-gap">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">10</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">9</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                </tr>
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">13</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Real Zaragoza" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/190.png"><span class="ue-c-table-ranking__team-name">Real Zaragoza</span></th>
                    <td class="ue-c-table-ranking__td is-marked">18</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">4</td>
                    <td class="ue-c-table-ranking__td">6</td>
                    <td class="ue-c-table-ranking__td has-gap">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">10</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">8</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">14</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Barcelona B" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/3552.png"><span class="ue-c-table-ranking__team-name">Barcelona B</span></th>
                    <td class="ue-c-table-ranking__td is-marked">16</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">3</td>
                    <td class="ue-c-table-ranking__td">7</td>
                    <td class="ue-c-table-ranking__td has-gap">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">8</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">8</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">5</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                </tr>
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">15</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Cultural Leonesa" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/2506.png"><span class="ue-c-table-ranking__team-name">Cultural Leonesa</span></th>
                    <td class="ue-c-table-ranking__td is-marked">16</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">3</td>
                    <td class="ue-c-table-ranking__td">7</td>
                    <td class="ue-c-table-ranking__td has-gap">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">10</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">6</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">16</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Albacete" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/950.png"><span class="ue-c-table-ranking__team-name">Albacete</span></th>
                    <td class="ue-c-table-ranking__td is-marked">16</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">4</td>
                    <td class="ue-c-table-ranking__td">4</td>
                    <td class="ue-c-table-ranking__td has-gap">6</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">13</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">0</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">4</td>
                </tr>
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">17</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Alcorcón" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/5233.png"><span class="ue-c-table-ranking__team-name">Alcorcón</span></th>
                    <td class="ue-c-table-ranking__td is-marked">16</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">4</td>
                    <td class="ue-c-table-ranking__td">4</td>
                    <td class="ue-c-table-ranking__td has-gap">6</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">9</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">4</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position">18</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Gimnàstic de Tarragona" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/955.png"><span class="ue-c-table-ranking__team-name">Gimnàstic de Tarragona</span></th>
                    <td class="ue-c-table-ranking__td is-marked">15</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">4</td>
                    <td class="ue-c-table-ranking__td">3</td>
                    <td class="ue-c-table-ranking__td has-gap">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">8</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                </tr>
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position relegation">19</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Lorca" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/9000.png"><span class="ue-c-table-ranking__team-name">Lorca</span></th>
                    <td class="ue-c-table-ranking__td is-marked">13</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">3</td>
                    <td class="ue-c-table-ranking__td">4</td>
                    <td class="ue-c-table-ranking__td has-gap">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">12</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">0</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">6</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position relegation">20</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Almería" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/1564.png"><span class="ue-c-table-ranking__team-name">Almería</span></th>
                    <td class="ue-c-table-ranking__td is-marked">12</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">3</td>
                    <td class="ue-c-table-ranking__td">3</td>
                    <td class="ue-c-table-ranking__td has-gap">8</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">8</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">5</td>
                </tr>
                <tr class="ue-c-table-ranking__tr even">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position relegation">21</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Sevilla Atlético" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/2614.png"><span class="ue-c-table-ranking__team-name">Sevilla Atlético</span></th>
                    <td class="ue-c-table-ranking__td is-marked">10</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">1</td>
                    <td class="ue-c-table-ranking__td">7</td>
                    <td class="ue-c-table-ranking__td has-gap">6</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">0</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">6</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">3</td>
                </tr>
                <tr class="ue-c-table-ranking__tr odd">
                    <th class="ue-c-table-ranking__th" scope="row"><span class="ue-c-table-ranking__span ue-c-table-ranking__position relegation">22</span></th>
                    <th class="ue-c-table-ranking__th is-main" scope="row"><img class="ue-c-table-ranking__img ue-c-table-ranking__team-badge" alt="Córdoba" src="http://e00-marca.uecdn.es/assets/datos-deportivos/escudos/opta/png/35x35/952.png"><span class="ue-c-table-ranking__team-name">Córdoba</span></th>
                    <td class="ue-c-table-ranking__td is-marked">10</td>
                    <td class="ue-c-table-ranking__td">14</td>
                    <td class="ue-c-table-ranking__td">3</td>
                    <td class="ue-c-table-ranking__td">1</td>
                    <td class="ue-c-table-ranking__td has-gap">10</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">2</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="En casa">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup has-gap" data-group="En casa">4</td>
                    <td class="ue-c-table-ranking__td is-subgroup is-marked" data-group="Fuera">3</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">7</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">1</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">0</td>
                    <td class="ue-c-table-ranking__td is-subgroup" data-group="Fuera">6</td>
                </tr>
            </tbody>
        </table>
        <ul class="ue-c-table-ranking__legend">
            <li><span class="ue-c-table-ranking__legend-marker promotion">Ascenso</span></li>
            <li><span class="ue-c-table-ranking__legend-marker playoff_promotion">Promocion ascenso</span></li>
            <li><span class="ue-c-table-ranking__legend-marker relegation">Descenso</span></li>
            <li><strong>PT:</strong> Puntos Totales</li>
            <li><strong>PJ:</strong> Partidos Jugados</li>
            <li><strong>PG:</strong> Partidos Ganados</li>
            <li><strong>PE:</strong> Partidos Empatados</li>
            <li><strong>PP:</strong> Partidos Perdidos</li>
        </ul>
    </div>
</div>